div(class='gallery-container')
  div(class='main-gallery')
    div(class='thumbnails')
      div(class='nav-buttons')
        span(class='skip-left') &laquo;      
        span(class='skip-right') &raquo;
      div(class='thumbnail-nav')
        ul(class='slides')
          li
            a(href='', value='bird')
              img(src='/img/thumbnails/bird.jpg', alt='Bird, 2002, Iron')
          li
            a(href='', value='bowl')
              img(src='/img/thumbnails/bowl.jpg', alt='Bowl')  
          li
            a(href='', value='fish-water')
              img(src='/img/thumbnails/fish-water.jpg', alt='Fish Jumping')    
          li
            a(href='', value='bird-flying')
              img(src='/img/thumbnails/flying-bird.jpg', alt='Bird in Flight')  
          li
            a(href='', value='excavated-beauty')
              img(src='/img/thumbnails/excavated-beauty.jpg', alt='Excavated Beauty') 
          li 
            a(href='', value='brave')
              img(src='/img/thumbnails/brave.jpg')
          li
            a(href='', value='adam-eve')
              img(src='/img/thumbnails/adam-eve.jpg')  
          li
            a(href='', value='eclipse')
              img(src='/img/thumbnails/eclipse.jpg')  
          li
            a(href='', value='cubism')
              img(src='/img/thumbnails/cubism.jpg')  
          li
            a(href='', value='woman-brave')
              img(src='/img/thumbnails/woman-brave.jpg')  
          li
            a(href='', value='wind-dancer')
              img(src='/img/thumbnails/wind-dancer.jpg')  
          li
            a(href='', value='walking-man')
              img(src='/img/thumbnails/walking-man.jpg')
          li  
            a(href='', value='stone-stool')
              img(src='/img/thumbnails/stone-stool.jpg', alt='Stone Stool')  
          li
            a(href='', value='split-stone')
              img(src='/img/thumbnails/split-stone.jpg')  
          li
            a(href='', value='spirit')
              img(src='/img/thumbnails/spirit.jpg')  
          li
            a(href='', value='spiral-head')
              img(src='/img/thumbnails/spiral-head.jpg')  
          li
            a(href='', value='excavated-beauty')
              img(src='/img/thumbnails/excavated-beauty.jpg') 
          li 
            a(href='', value='gauge')
              img(src='/img/thumbnails/12-gauge.jpg')  
          li
            a(href='', value='flying-bird')
              img(src='/img/thumbnails/flying-bird.jpg')  
          li
            a(href='', value='excavated-beauty')
              img(src='/img/thumbnails/excavated-beauty.jpg')  
          li
            a(href='', value='walking-man')
              img(src='/img/thumbnails/walking-man.jpg')  
          li
            a(href='', value='weird-man')
              img(src='/img/thumbnails/weird-man.jpg')  
          li
            a(href='', value='wind-dancer')
              img(src='/img/thumbnails/wind-dancer.jpg', alt='Excavated Beauty') 
          li 
            a(href='', value='women-kissing')
              img(src='/img/thumbnails/women-kissing.jpg')  
          li
            a(href='', value='flying-bird')
              img(src='/img/thumbnails/flying-bird.jpg')  
          li
            a(href='', value='dark-sea')
              img(src='/img/thumbnails/dark-sea.jpg')  
          li
            a(href='', value='brave')
              img(src='/img/thumbnails/brave.jpg')
  div(class='picture-frame')
    section(class='fade-left')
    section(class='fade-right')    
    section(class='nav-help')
      p To navigate, select the large white arrows to go left or right according to the thumbnails shown above. To scroll through the thumbnails, click the right or left arrows.
    nav(class='shift-left')
      a(href='#')
    nav(class='shift-right')
      a(href='#')

  //- div(class='test')
  //-   ul
  //-     li
  //-       a(href='', value='wind-dancer')
  //-         img(src='/img/thumbnails/wind-dancer.jpg')  
  //-     li
  //-       a(href='', value='walking-man')
  //-         img(src='/img/thumbnails/walking-man.jpg')
  //-     li  
  //-       a(href='', value='stone-stool')
  //-         img(src='/img/thumbnails/stone-stool.jpg', alt='Stone Stool')  
  //-     li
  //-       a(href='', value='split-stone')
  //-         img(src='/img/thumbnails/split-stone.jpg')  
  //-     li
  //-       a(href='', value='spirit')
  //-         img(src='/img/thumbnails/spirit.jpg')  
  //-     li
  //-       a(href='', value='spiral-head')
  //-         img(src='/img/thumbnails/spiral-head.jpg')  
  //-     li
  //-       a(href='', value='excavated-beauty')
  //-         img(src='/img/thumbnails/excavated-beauty.jpg') 
  //-     li 
  //-       a(href='', value='gauge')
  //-         img(src='/img/thumbnails/12-gauge.jpg')  
  //-     li
  //-       a(href='', value='flying-bird')
  //-         img(src='/img/thumbnails/flying-bird.jpg')  
  //-     li
  //-       a(href='', value='excavated-beauty')
  //-         img(src='/img/thumbnails/excavated-beauty.jpg')  
  //-     li
  //-       a(href='', value='walking-man')
  //-         img(src='/img/thumbnails/walking-man.jpg')  
  //-     li
  //-       a(href='', value='weird-man')
  //-         img(src='/img/thumbnails/weird-man.jpg')  
  //-     li
  //-       a(href='', value='wind-dancer')
  //-         img(src='/img/thumbnails/wind-dancer.jpg', alt='Excavated Beauty') 
