div(class='multi-image')
  div(class='gauge')
    img(src='/img/12-gauge.jpg')
    p hi
  div(class='stone-stool')
    img(src='/img/stone-stool.jpg')
    //- div(class='thumbnail-side')
    //-   ul
    //-     li
    //-       a(href='', full="/img/stone-stool.jpg")
    //-         img(src='/img/thumbnails/stone-stool.jpg')
    //-     li
    //-       a(href='', full="/img/stone-stool-front.jpg")
    //-         img(src='/img/thumbnails/stone-stool-front.jpg')
  div(class='dark-sea')
    img(src='/img/dark-sea.jpg')
    div(class='thumbnail-side')
      ul
        li
          a(href='', full='/img/dark-sea.jpg')
            img(src='/img/thumbnails/dark-sea.jpg')
        li
          a(href='', full='/img/dark-sea-side.jpg')
            img(src='/img/thumbnails/dark-sea-side.jpg')
  div(class='guardian')
    img(src='/img/guardian-side.jpg')
div(class='single-image')
  div(class='wind-dancer')
    img(src='/img/wind-dancer.jpg')
    p Wind Dancer, 2002, Red Marble/Steel
  div(class='woman-brave')
    img(src='/img/woman-brave.jpg')
    p Woman Brave, 2005, Marble
  div(class='bowl')
    img(src='/img/bowl-do-not-use.jpg')
    p 
  div(class='iron-flower')
    img(src='/img/sun-gear.jpg')
    p 
  div(class='adam-eve')
    img(src='/img/adam-eve.jpg')
    p 
  div(class='anvil')
    img(src='/img/anvil.jpg')
    p 
  div(class='athlete')
    img(src='/img/athlete.jpg')
    p 
  div(class='ballerina')
    img(src='/img/ballerina.jpg')
    p 
  div(class='bird')
    img(src='/img/bird.jpg')
    p 
  div(class='bird-flying')
    img(src='/img/bird-flying.jpg')
    p 
  div(class='bird-stretch')
    img(src='/img/bird-stretch.jpg')
    p 
  div(class='brave')
    section
      img(src='/img/brave.jpg')
  div(class='cubism')
    img(src='/img/cubism.jpg')
    p 
  div(class='dancers')
    img(src='/img/dancers.jpg')
    p 
  div(class='dancing-man')
    img(src='/img/dancing-man.jpg')
    p 
  div(class='eclipse')
    img(src='/img/sunrise.jpg')
    p 
  div(class='excavated-beauty')
    img(src='/img/excavated-beauty.jpg')
    p 
  div(class='fish-water')
    img(src='/img/fish-water.jpg')
    p 
  div(class='fork-stone')
    img(src='/img/fork-stone.jpg')
    p 
  div(class='forward-woman')
    img(src='/img/forward-woman.jpg')
    p 
  div(class='found')
    img(src='/img/found.jpg')
    p 
  div(class='geo')
    img(src='/img/geo.jpg')
    p 
  div(class='split-stone')
    img(src='/img/split-stone.jpg')
  div(class='walking-man')
    img(src='/img/walking-man.jpg')





































